@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

$cairo-font: "Cairo", sans-serif;

//Colors
$dark-grey: #171717;
$light-grey: #1e1e1e;
$green-light: #a29bfe;
$green-dark: #6c5ce7;
