.sideMenu {
  height: 100vh;
  width: 100%;
  padding: 96px 0;
  background: $dark-grey;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    .portalIcon {
      color: $green-light;
      width: 50px;
      height: 50px;
    }

    .portalioTitle {
      font-size: 30px;
      color: white;
      margin-left: 18px;
      font-weight: 600;
    }
  }

  .line {
    height: 2px;
    width: 75%;
    margin: auto;
    margin-bottom: 170px;
    background: $light-grey;
  }

  .menu-wrapper {
    list-style: none;
    padding: 0;
    .menu-item {
      padding: 17px 126px;
      text-align: center;
      font-weight: 300;
      font-size: 24px;
      color: white;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 3px;
        right: 3px;
        top: 2.5%;
      }

      &:hover {
        background: $light-grey;
        &::after {
          background: $green-dark;
        }
      }
    }
  }
}
