@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: 20vh 80vh;
      grid-template-columns: 20vh 80vh;
  font-family: "Cairo", sans-serif;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  list-style: none;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;
}

.app .menu-button {
  display: none;
}

.app .title-portalio {
  display: none;
}

@media screen and (max-width: 1460px) {
  .app .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 26px;
    font-size: 48px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .app .menu-button:hover {
    color: #a29bfe;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
}

@media screen and (max-width: 1024px) {
  .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .hum-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .app .hum-div .title-portalio {
    display: block;
    position: absolute;
    color: #a29bfe;
    left: 50%;
    font-size: 24px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.sideMenu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100vh;
  width: 100%;
  padding: 96px 0;
  background: #171717;
}

.sideMenu .closeMenu {
  display: none;
  position: absolute;
  color: #a6a6a6;
  font-size: 45px;
  top: 24px;
  left: 24px;
  cursor: pointer;
}

.sideMenu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

.sideMenu .logo .portalIcon {
  color: #a29bfe;
  width: 50px;
  height: 50px;
}

.sideMenu .logo .portalioTitle {
  font-size: 30px;
  color: white;
  margin-left: 18px;
  font-weight: 600;
}

.sideMenu .line {
  height: 2px;
  width: 75%;
  margin: auto;
  margin-bottom: 170px;
  background: #1e1e1e;
}

.sideMenu .menu-wrapper {
  list-style: none;
  padding: 0;
}

.sideMenu .menu-wrapper .menu-item {
  padding: 17px 0px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
}

.sideMenu .menu-wrapper .menu-item::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 3px;
  right: 3px;
  top: 2.5%;
}

.sideMenu .menu-wrapper .menu-item:hover {
  background: #1e1e1e;
}

.sideMenu .menu-wrapper .menu-item:hover::after {
  background: #6c5ce7;
}

@media screen and (max-width: 1460px) {
  .sideMenu {
    position: absolute;
    width: 0vw;
    display: none;
    z-index: 1000;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .sideMenu .closeMenu {
    display: block;
  }
}

.open {
  width: 100vw;
  display: block;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.main {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  width: 100vw;
  padding: 40px 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh auto;
      grid-template-rows: 20vh auto;
  -ms-grid-columns: minmax(auto, 100%);
      grid-template-columns: minmax(auto, 100%);
}

@media screen and (max-width: 1024px) {
  .main {
    -ms-grid-rows: 20vh auto;
        grid-template-rows: 20vh auto;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1024px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 332px;
  height: 162px;
  border-radius: 15px;
  cursor: pointer;
  background: #171717;
}

.server .serverName {
  color: white;
  font-weight: 500;
  font-size: 36px;
}

.server .infos {
  color: #a7a7a7;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .server {
    width: 100%;
  }
}

.editPortal {
  margin-left: 50px;
  position: relative;
  width: 400px;
}

.editPortal > .editButton {
  position: absolute;
  top: 0;
  background: #171717;
  color: #a1a1a1;
  border: none;
  padding: 15px 36px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .editPortal {
    display: none;
    margin: 30px 0 0 0;
    width: 100%;
  }
  .editPortal > .editButton {
    position: relative;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .editPortal {
    width: 60%;
    margin-left: 10px;
  }
  .editPortal > .editButton {
    padding: 15px 36px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
  }
}

.update-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
}

.update-Wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #171717;
  width: 70%;
  height: 50%;
  padding: 20px 26px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update-Wrapper > .update-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.update-Wrapper > .portal-infos {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 15px;
  height: 50%;
  width: 100%;
}

.update-Wrapper > .portal-infos > div {
  background: #1e1e1e;
  border-radius: 15px;
}

.update-Wrapper > .portal-infos > div > .head {
  margin-top: 15px;
  margin-bottom: -30px;
  text-align: center;
}

.update-Wrapper > .portal-infos > div > .head > h3 {
  font-weight: 500;
  font-size: 18px;
}

.update-Wrapper > .portal-infos > div > .formWrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div {
  position: relative;
  width: 30%;
  height: 60px;
  text-align: center;
  margin: 10px;
  color: #a1a1a1;
  border-radius: 5px;
  font-size: 18px;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > select {
  text-align: center;
  border: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
  outline: none;
  background: #171717;
  padding: 15px;
  color: #a1a1a1;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input {
  text-align: center;
  border: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
  outline: none;
  background: #171717;
  padding: 15px;
  color: #a1a1a1;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input::-webkit-inner-spin-button, .update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input:focus {
  border: 1px solid #6c5ce7;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input:focus + label {
  display: none;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > .input:not(:placeholder-shown) + label {
  display: none;
}

.update-Wrapper > .portal-infos > div > .formWrapper > .form-div > label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.update-Wrapper > .portal-infos > .portal-utilizations > .formWrapper > .form-div {
  width: 70%;
}

.update-Wrapper > .portal-infos > .portal-modificator > .formWrapper > .form-div {
  width: 80%;
}

.update-Wrapper > .update-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.update-Wrapper > .update-button > button {
  width: 70%;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  font-size: 18px;
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}

.update-Wrapper > .close {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.update-Wrapper > .close:hover {
  color: #a1a1a1;
}

@media screen and (max-width: 1024px) {
  .update-Wrapper {
    width: 100%;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .update-Wrapper > .portal-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .update-Wrapper > .portal-infos > div {
    height: 40%;
  }
}

.serverBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
}

.serverHandler {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #171717;
  width: 60%;
  height: 80%;
  padding: 40px 56px;
  overflow-y: scroll;
  border-radius: 15px;
}

.serverHandler .currentServer {
  margin-bottom: 15px;
  font-size: 24px;
}

.serverHandler .currentServer span {
  color: #6c5ce7;
}

.serverHandler .serverList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: minmax(auto, 90px);
      grid-template-rows: minmax(auto, 90px);
  grid-gap: 15px;
}

.serverHandler .serverList > .serverItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  min-width: 20%;
  height: 90px;
  background: #1e1e1e;
}

.serverHandler .serverList > .serverItem > h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.serverHandler .serverList > .serverItem:hover h3 {
  color: #a1a1a1;
}

.serverHandler .close {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
}

.serverHandler .close:hover {
  color: #a1a1a1;
}

.serverHandler::-webkit-scrollbar {
  background: transparent;
}

.serverHandler::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

@media screen and (max-width: 768px) {
  .serverHandler {
    width: 100%;
    height: 100%;
  }
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.auth .login {
  height: 46px;
  width: 131px;
  border-radius: 5px;
  background: #a29bfe;
  font-size: 22px;
  color: white;
  cursor: pointer;
  border: none;
  margin-right: 34px;
}

.auth .login:hover {
  background: #6c5ce7;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.auth .register {
  color: #a29bfe;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.auth .register:hover {
  color: #6c5ce7;
}

@media screen and (max-width: 1024px) {
  .auth {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .auth .login {
    height: 38px;
    width: 107px;
    font-size: 18px;
  }
  .auth .register {
    font-size: 18px;
  }
}

.auth-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
}

.authentication {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #171717;
  width: 60%;
  height: 80%;
  padding: 20px 26px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication > .line {
  height: 100%;
  width: 2px;
  background: #1e1e1e;
}

.authentication > .close {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.authentication > .close:hover {
  color: #a1a1a1;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  height: 60%;
  padding: 30px 50px;
}

.login-form > .loginHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form > .loginHeader > p {
  color: #a29bfe;
  font-weight: 600;
}

.login-form > .loginHeader > h2 {
  color: #a29bfe;
  font-size: 34px;
}

.login-form > .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.login-form > .form-container > .form-div {
  margin-bottom: 25px;
  width: 70%;
  height: 50px;
  position: relative;
  font-size: 18px;
  color: #a1a1a1;
}

.login-form > .form-container > .form-div > label {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.login-form > .form-container > .form-div > .input {
  font-size: 18px;
  color: #a1a1a1;
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
}

.login-form > .form-container > .form-div > .input:focus {
  border: 1px solid #a29bfe;
}

.login-form > .form-container > .form-div > .input:focus + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.login-form > .form-container > .form-div > .input:not(:placeholder-shown) + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.login-form > .form-container > .forgot-password {
  color: #6c5ce7;
  width: 70%;
  margin-top: -10px;
}

.login-form > .form-container > .login-btn {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  border: none;
  font-size: 18px;
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}

.login-form > .form-container > .login-btn:hover {
  background: #a29bfe;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 80%;
  padding: 30px 50px;
}

.register-form > .register-header {
  color: #a29bfe;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.register-form > .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
}

.register-form > .form-container > .form-div {
  margin-bottom: 25px;
  width: 90%;
  height: 50px;
  position: relative;
  font-size: 18px;
  color: #a1a1a1;
}

.register-form > .form-container > .form-div > label {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.register-form > .form-container > .form-div > .input {
  font-size: 18px;
  color: #a1a1a1;
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
}

.register-form > .form-container > .form-div > .input:focus {
  border: 1px solid #a29bfe;
}

.register-form > .form-container > .form-div > .input:focus + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.register-form > .form-container > .form-div > .input:not(:placeholder-shown) + label {
  top: -10px;
  left: 0;
  font-size: 14px;
}

.register-form > .form-container .invalid-password {
  border: 1px solid #e74c3c !important;
}

.register-form > .form-container > .register-btn {
  width: 90%;
  height: 50px;
  margin-top: 10px;
  border: none;
  font-size: 18px;
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}

.register-form > .form-container > .register-btn:hover {
  background: #a29bfe;
}

.portalInfos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 18px;
}

.portalInfos > div {
  background: #171717;
  border-radius: 15px;
}

.portalInfos .portalInfo,
.portalInfos .portalPosition,
.portalInfos .portalModificator {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portalInfos .portalInfo {
  -ms-grid-column: 1;
  grid-column: 1;
}

.portalInfos > .portalUtilizations {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1;
}

.portalInfos > .fifth {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

.portalInfos > .sixth {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

@media screen and (max-width: 1024px) {
  .portalInfos {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
  }
  .portalInfos > .portalModificator {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .portalInfos > .portalUtilizations {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .portalInfos > .fifth {
    display: none;
  }
  .portalInfos > .sixth {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .portalInfos {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
  }
  .portalInfos > .portalModificator {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .portalInfos > .portalUtilizations {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .portalInfos > .fifth {
    display: none;
  }
  .portalInfos > .sixth {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .portalInfos .portalInfo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .portalInfos .portalPosition {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
/*# sourceMappingURL=global.css.map */