@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  grid-template-columns: 20vh 80vh;
  font-family: $cairo-font;
  transition: 0.3s all ease-in-out;
  list-style: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $light-grey;

  .menu-button {
    display: none;
  }

  .title-portalio {
    display: none;
  }
}

@media screen and (max-width: 1460px) {
  .app {
    .menu-button {
      display: flex;
      height: 50px;
      justify-content: flex-start;
      align-items: center;
      margin: 26px;
      font-size: 48px;
      color: #a6a6a6;
      cursor: pointer;
      &:hover {
        color: $green-light;
        transition: 0.2s all ease;
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  .app {
    flex-direction: column;

    .hum-div {
      display: flex;
      align-items: center;
      .title-portalio {
        display: block;
        position: absolute;
        color: $green-light;
        left: 50%;
        font-size: 24px;
        transform: translateX(-50%);
      }
    }
  }
}

@import "./sideMenu";
@import "./main";
@import "./header";
@import "./server";
@import "./editPortal";
@import "./updatePortal";
@import "./serverHandler";
@import "./auth";
@import "./authenticationPopUp";
@import "./login";
@import "./signUp";
@import "./portalInfos";
